html {
  min-height: 100%;
  min-width: 100%; }

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%; }

footer {
  position: relative;
  float: left;
  width: 100%; }

@font-face {
  font-family: "futurastd";
  src: url('/font/FuturaFont/FuturaStd-Book.eot');
  src: local('futurastd');
  src: url('/font/FuturaFont/FuturaStd-Book.svg#bingo') format('svg');
  src: url('/font/FuturaFont/FuturaStd-Book.otf') format('opentype'); }

.moods {
  background-color: #929292;
  float: left;
  width: 100%;
  height: 100%; }
  .moods .popup {
    position: absolute; }
  .moods .popup-fullscreen, .moods .popup-mask {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.35; }
  .moods .popup {
    z-index: 1000;
    width: 420px;
    border-radius: 5px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -210px; }
    .moods .popup .popup-header, .moods .popup .popup-content {
      float: left;
      clear: left; }
    .moods .popup .popup-header {
      height: 50px; }
      .moods .popup .popup-header .logo, .moods .popup .popup-header .close {
        width: 29px;
        height: 29px; }
      .moods .popup .popup-header .close {
        position: absolute;
        right: 15px;
        top: 15px;
        background-image: url(/img/popupclose.png);
        background-size: contain;
        background-repeat: no-repeat; }
    .moods .popup .popup-content {
      margin: 10px;
      padding: 20px;
      border: 1px solid #eee;
      width: 357px; }
      .moods .popup .popup-content .title {
        font-family: futura-bold;
        font-size: 15px;
        color: #505050;
        margin-bottom: 10px;
        text-align: center; }
      .moods .popup .popup-content span {
        text-decoration: underline; }
      .moods .popup .popup-content .text {
        font-size: 13px;
        font-family: futura-light;
        line-height: 18px;
        color: #777;
        text-align: center; }
      .moods .popup .popup-content .picto {
        width: 120px;
        height: 100px;
        margin-left: 119px;
        margin-bottom: 20px; }
  .moods .upload-wrapper {
    display: inline;
    float: left;
    width: 6.7%;
    height: 75px;
    border-right: 1px solid #D4D4D4;
    background-color: #FFFFFF;
    background-image: url("/img/upload.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative; }
    .moods .upload-wrapper .upload-file {
      position: absolute;
      overflow: hidden;
      text-align: right;
      width: 100%;
      height: 100%;
      -moz-opacity: 0;
      opacity: 0;
      z-index: 2; }
    .moods .upload-wrapper .upload-fakebutton {
      position: absolute;
      top: 0px;
      left: 0px;
      float: left;
      height: 100%;
      width: 100%;
      z-index: 1;
      opacity: 0;
      box-sizing: border-box;
      padding: 6px 0px;
      font-size: 18px; }
    .moods .upload-wrapper .upload-wrapper:hover {
      color: #cccccc;
      border-bottom: 5px solid; }
  .moods .hovered {
    width: 72px;
    height: 72px;
    float: left;
    overflow: hidden;
    background-color: rgba(87, 87, 87, 0.65);
    opacity: 0.9;
    border: 1px solid rgba(87, 87, 87, 0.65);
    margin: -1px;
    border-radius: 7px;
    z-Index: 1; }
  .moods .resource {
    width: 72px;
    height: 72px;
    float: left;
    overflow: hidden;
    opacity: 0.9;
    border-radius: 7px;
    z-Index: 1;
    margin-bottom: 5px; }
    .moods .resource .remove {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-Color: #A7A7A7;
      right: 0px;
      z-Index: 5; }
    .moods .resource .picto {
      background-size: cover;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      margin-left: 13px;
      margin-top: 5.5px;
      border-radius: 5px; }
    .moods .resource .label {
      color: #2B2B2B;
      text-align: center;
      font-family: futurastd;
      font-size: 10px;
      height: 12px;
      width: 72px; }
  .moods .moods-topbar {
    background-color: #FFFFFF;
    width: 99%;
    height: 75px;
    float: left;
    margin: 0px 3px 1px 3px;
    position: relative; }
    .moods .moods-topbar .switch-button {
      float: left;
      width: 36px;
      height: 36px;
      color: #fff;
      font-size: 24px;
      cursor: pointer; }
    .moods .moods-topbar .shuffle {
      position: relative;
      background-image: url('/img/shuffle.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #FFFFFF;
      width: 6.8%;
      height: 100%;
      float: left;
      border-right: 1px solid #D4D4D4;
      border-bottom: 1px solid #D4D4D4; }
    .moods .moods-topbar .previous {
      position: relative;
      background-color: #FFFFFF;
      width: 6.7%;
      height: 100%;
      background-image: url('/img/prev.png');
      background-size: contain;
      background-repeat: no-repeat;
      float: left;
      border-right: 1px solid #D4D4D4;
      border-left: 1px solid #D4D4D4; }
    .moods .moods-topbar .next {
      position: relative;
      background-color: #FFFFFF;
      background-image: url('/img/next.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 6.7%;
      height: 100%;
      float: left;
      border-right: 1px solid #D4D4D4; }
    .moods .moods-topbar .resources-wrap {
      overflow: hidden;
      min-width: 53.7%;
      min-height: 100%;
      position: relative;
      float: left; }
    .moods .moods-topbar .resources {
      max-height: 100%;
      position: absolute; }
  .moods .moods-leftbar {
    background-color: #FFFFFF;
    width: 6.75%;
    height: 550px;
    float: left;
    margin-left: 3px;
    margin-right: 20px;
    position: relative; }
    .moods .moods-leftbar .slideBar {
      height: 86.8%;
      width: 5px;
      background-color: #FFFFFF;
      position: absolute;
      right: 0px;
      border-left: 1px solid #D4D4D4; }
      .moods .moods-leftbar .slideBar .cursor {
        height: 2%;
        width: 100%;
        background-color: #D4D4D4;
        position: absolute;
        top: 0px; }
    .moods .moods-leftbar .addPage {
      position: relative;
      width: 100%;
      height: 13%;
      border-bottom: 1px solid #D4D4D4;
      border-right: -1px solid #D4D4D4;
      background-color: #FFFFFF;
      background-image: url('/img/add page.png');
      background-size: contain;
      background-repeat: no-repeat; }
    .moods .moods-leftbar .resources-wrap {
      overflow: hidden;
      top: 75px;
      min-width: 72px;
      min-height: 475px;
      position: absolute; }
    .moods .moods-leftbar .resources {
      width: 72px;
      position: absolute; }
  .moods .moods-container {
    width: 90%;
    height: 90%;
    float: left; }
    .moods .moods-container .name {
      float: left; }
    .moods .moods-container .button {
      cursor: pointer; }
    .moods .moods-container .usual {
      position: relative;
      float: left;
      width: 100%; }
    .moods .moods-container .col-comments {
      position: relative;
      float: left;
      width: 20%;
      overflow: visible;
      transition: left 0.3s; }
      .moods .moods-container .col-comments ::-webkit-scrollbar {
        border-radius: 10px;
        color: #4f4f4f; }
      .moods .moods-container .col-comments.tool-colcom {
        width: 100%;
        position: absolute; }
        .moods .moods-container .col-comments.tool-colcom .group-comment {
          border: none;
          width: 30%;
          border-radius: 6px; }
      .moods .moods-container .col-comments .collapse-col {
        top: -24px;
        font-family: "Lato", sans-serif;
        font-style: italic;
        color: #68b2f8;
        font-size: 14px;
        cursor: pointer;
        z-index: 2;
        text-align: center;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee; }
      .moods .moods-container .col-comments .group-comment {
        overflow: visible;
        position: absolute;
        float: left;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        transition: margin-left 0.3s, width 0.2s; }
        .moods .moods-container .col-comments .group-comment .wrap-picto {
          overflow: visible;
          z-index: 100;
          position: absolute;
          top: 12px;
          left: -30px; }
          .moods .moods-container .col-comments .group-comment .wrap-picto .pin-picto {
            float: left;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            border: 2px solid black; }
            .moods .moods-container .col-comments .group-comment .wrap-picto .pin-picto .line {
              left: 30px;
              top: 17px; }
        .moods .moods-container .col-comments .group-comment .wrap-comments {
          margin: 6px;
          box-sizing: border-box;
          overflow: visible;
          z-index: 1; }
          .moods .moods-container .col-comments .group-comment .wrap-comments .collapse-com {
            float: left;
            font-style: italic;
            color: #68b2f8;
            font-size: 12px;
            cursor: pointer; }
          .moods .moods-container .col-comments .group-comment .wrap-comments .comment {
            padding: 3px 6px;
            font-family: "futurastd";
            transition: top 0.3s;
            border-spacing: 6px 0px;
            box-sizing: border-box; }
            .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-up {
              width: 100%; }
            .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-down {
              text-align: center; }
            .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-name {
              float: left;
              position: relative;
              top: 0px;
              left: 0px;
              font-weight: bold;
              font-size: 14px; }
            .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-txt {
              min-width: 72px;
              min-height: 14px;
              color: #efefef;
              font-size: 14px; }
              .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-txt[contenteditable=true] {
                outline: 0px solid transparent; }
            .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-info {
              width: 100%;
              font-family: "Open Sans", sans-serif;
              font-size: 10px; }
              .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-info .comment-date {
                float: right;
                font-style: italic; }
              .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-info .delete-button {
                color: #980000;
                padding: 1px 1px;
                border-radius: 3px;
                display: inline;
                font-weight: bold; }
              .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-info .comment-button {
                display: inline;
                color: #000;
                font-weight: bold; }
    .moods .moods-container .moods-container-view {
      position: relative;
      float: left;
      height: 545px;
      width: 70%;
      z-index: 0;
      transition: width 0.3s;
      padding-top: 1%; }
      .moods .moods-container .moods-container-view canvas {
        position: absolute;
        top: 0px;
        left: 0px;
        display: none; }
      .moods .moods-container .moods-container-view .cover {
        width: 100%;
        height: 100%;
        background-color: #FFFFFF; }
        .moods .moods-container .moods-container-view .cover .case {
          border: 1px dotted #D5D5D5; }
      .moods .moods-container .moods-container-view .view {
        width: 80%;
        float: left;
        position: relative;
        height: 99%;
        background-color: #FFFFFF; }
        .moods .moods-container .moods-container-view .view .case {
          top: 5%;
          left: 5%;
          border: 1px dotted #D5D5D5; }
      .moods .moods-container .moods-container-view .moods-arrow {
        color: #FFFFFF;
        position: absolute;
        top: 45%;
        height: 50px;
        width: 75px;
        font-family: futurastd;
        font-weight: bold;
        font-size: 37px;
        background-color: #cccccc;
        text-align: center;
        border-radius: 7px;
        border: 1px solid rgba(20, 16, 16, 0.08); }
      .moods .moods-container .moods-container-view .moods-previous {
        left: 0px; }
      .moods .moods-container .moods-container-view .moods-next {
        right: 0px; }
    .moods .moods-container .moods-arrow-comment {
      height: 545px;
      width: 24px;
      float: left;
      color: #fff;
      font-family: futurastd;
      font-weight: bold;
      font-size: 37px;
      background-color: #cccccc;
      text-align: center;
      border-radius: 7px;
      border: 1px solid rgba(20, 16, 16, 0.08); }
      .moods .moods-container .moods-arrow-comment .moods-arrow-comment-txt {
        top: 45%;
        position: relative;
        overflow: visible; }
